{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card text-center shadow-lg mb-4">
            <div class="card-body">
                <h3 class="card-title mb-3">Inventory Management</h3>
                <p class="card-text">View and manage inventory stocks.</p>
                <a href="/inventory" class="btn btn-primary btn-lg w-100">Go to Inventory</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 